@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --main-grey-color: #b5b7c0;
  --menu-items-color: #9197b3;
  --active-table-color: rgb(22, 192, 152, 38);
  --active-table-border-color: #00b087;
  --active-font-color: #008767;
  --inactive-table-color: #ffc5c5;
  --inactive-table-border-color: #df0404;
  --inactive-font-color: #df0404;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f5f7fa;
}
.search-bar input::placeholder {
  font-weight: var(--regular);
}
.header h2,
.customer-table th,
.status,
.pagination span {
  font-weight: var(--medium);
}
.customers {
  background: #fff;
  border-radius: 12px;
  padding: 25px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.customers h3 {
  font-weight: var(--semi-bold);
}

.dashboard {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-weight: 600;
  font-size: 26px;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu ul li {
  margin-bottom: 20px;
}

.menu ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  color: var(--menu-items-color);
}
.menu ul li:hover a {
  text-decoration: none;
  color: #fff;
  background-color: #5932ea;
}
.menu ul li:hover img {
  filter: brightness(0) invert(1);
}

.menu ul li.active a {
  background-color: #5932ea;
  color: #fff;
}

.profile {
  display: flex;
  margin-top: auto;
  text-align: center;
  width: 100%;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.content {
  flex: 1;
  padding: 40px;
}

.header h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.customers h3 {
  font-size: 20px;
}

.active-members {
  color: #16c098;
  font-size: 14px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 0 50px 0 20px;
  width: 216px;
  float: right;
  background: #f9fbff;
  border-radius: 10px;
  height: 38px;
  width: 216px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  float: right;
  background: #f9fbff;
  outline: unset;
}
.search-bar input::placeholder {
  color: var(--main-grey-color);
  font-size: 14px;
}

.search-bar button {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.customer-table {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}

.customer-table table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th,
.customer-table td {
  padding: 15px;
  text-align: left;
}
.customer-table td.status {
  text-align: center;
  border-radius: 4px;
  height: 29px;
  width: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-table th {
  color: var(main-grey-color);
  border-bottom: 1px solid #eee;
}

tr {
  border-bottom: 1px solid #eee;
}

.status {
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 0;
}

.status.active {
  background-color: var(--active-table-color);
  color: var(--active-font-color);
  border: var(--active-table-border-color) 1px solid;
}

.status.inactive {
  background-color: var(--inactive-table-color);
  color: var(--inactive-font-color);
  border: var(--inactive-table-border-color) 1px solid;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.pagination span {
  font-size: 14px;
  color: var(--main-grey-color);
  margin-right: auto;
}

.pagination ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

.pagination li a {
  font-size: 12px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid #eeeeee;
  color: #333;
  width: 25px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination li:hover a {
  background-color: #5932ea;
  border: 1px solid #5932ea;
  color: #fff;
}

.pagination li.active a {
  background-color: #5932ea;
  border: 1px solid #5932ea;
  color: #fff;
}
.menu ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-icon {
  margin-right: 5px;
}
.version-logo {
  font-size: 10px;
  color: #838383;
  font-weight: 500;
}
nav.menu {
  width: 100%;
}
.profile-txt {
  margin-left: 10px;
}
.profile-txt > p.bold {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.profile-txt p {
  text-align: left;
  font-size: 12px;
  margin: 0;
}
tr {
  vertical-align: baseline;
}
